<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <table class="text-center fixed-bottom" width="100%" border="0">
        <tr bgcolor="white">
            <td align="center" width = "90">
                <img th:src="@{/images/irbish_logo.jpg}" width="60" alt="Irbish лого"/>
            </td>
            <td>
                <p class="text-center fixed-bottom text"> 2021 PBScoreBoard Demonstration</p>
            </td>
            <td align="center" width = "90">
                <img th:src="@{/images/irbish_logo.jpg}" width="60" alt="Irbish лого"/>
            </td>
        </tr>
    </table>
</th:block>