<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/signin.css" rel="stylesheet" crossorigin="anonymous"/>

    <div th:insert="~{fragments/header :: headerNoAuth}"></div>
</head>
<body th:style="'background: url(/images/background.jpg) no-repeat center fixed;'">

<div class="container">

    <form class="form-signin" method="post" action="/signUp">
        <h2 class="outline">SignUp</h2>
        <p>
            <label for="firstName" class="sr-only"></label>
            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Имя" required autofocus>
        </p>
        <p>
            <label for="lastName" class="sr-only"></label>
            <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Фамилия" required autofocus>
        </p>
        <p>
            <label for="email" class="sr-only"></label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only"></label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>
</body>
<footer>
    <div th:insert="~{fragments/footer :: footer}"></div>
</footer>
</html>